<% include ../partials/header %>

<div class="row">
    <h1 style="text-align:center;">Add New Comment for <%= campground.name %></h1>
    
    <div style="width: 30%; margin: 50px auto;">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <!--.form-control is the bootstrap comp that makes it look nice-->
                <!--.form-group makes gives each component some spacing-->
                <input class="form-control form-group" type="text" name="comment[text]" placeholder="Comment"></input>
                <div class="form-group">
                    <button class=" form-group btn btn-primary btn-lg btn-block">Submit</button>
                </div>
        </form>
        <a href="/campgrounds">Back</a>
    </div>
</div>

<% include ../partials/footer %>