<% include partials/header %>

<h1>Register</h1>

<form action="/register" method="POST">
    <div>
        <input type="text" name="username" placeholder="Username"></input>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"></input>
    </div>
    
    <button class="btn btn-default">Sign Up</button>
</form>

<% include partials/footer %>